div.profile {
  display: flex;
  align-items: center;
}

div.profile img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: -1px 1px 1px 1px #aaa;
}

div.profile img.small {
  width: 35px;
  height: 35px;
  border-radius: 2.5px;
}

.profile-info {
  padding: 0;
  margin: 0 var(--s);
}

.profile-info * {
  padding: 0;
  margin: 0;
}
